<div class="container">
  <div class="index-heading">
    <p><strong>Published works.</strong></p>
    <p>A small sample of my poems from various publications.</p>
  </div>

  <div class="row">
    <% @poems.each do |poem| %>

    <% photo_string = "https://picsum.photos/#{rand(600..800)}/#{rand(600..800)}" %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= poem.photo %>);">
        <div class="card-category"><%= poem.category %></div>
        <div class="card-description">
          <h2><%= poem.title %></h2>
        </div>
        <%= link_to "", poem_path(poem), class: "card-link" %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="add-space"></div>
</div>

