// Define variables for your color scheme

$blue: #3295EE;
$teel: #41AFC4;
$green: #4FCA9B;
$gray: #333333;
// $light-gray: #F4F4F4;
$light-gray: #333333;
$white: #FFFFFF;
$red: #EE2F2F;
$shadow: #DDDDDD;
