<div class="footer">
  <div class="footer-links">
    <%= link_to "POEMS", poems_path %>
        <%= link_to "ABOUT", about_path %>
        <%= link_to "CONTACT", contact_path %>
  </div>
  <div class="footer-copyright">
    &copy; Jenny Erlanger Inc. All copyright infrigements are punishable by death.
  </div>
</div>
