<div class="footer">
  <div class="footer-links">
    <a href="#">POEMS</a>
    <a href="#">ABOUT</a>
    <a href="#">CONTACT</a>
  </div>
  <div class="footer-copyright">
    &copy; Jenny Erlanger Inc. All copyright infrigements are punishable by death.
  </div>
</div>
