<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" id="logo">
    <h3>Jenny<strong>Erlanger</strong></h3>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs">

    <%= link_to "POEMS", poems_path, class: "navbar-wagon-item" %>
    <%#= link_to "ABOUT", poems_path %>
    <%#= link_to "CONTACT", poems_path %>

    <a href="#" class="navbar-wagon-item">ABOUT</a>
    <a href="#" class="navbar-wagon-item">CONTACT</a>

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-sm hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#" class="navbar-wagon-item">POEMS</a></li>
        <li><a href="#" class="navbar-wagon-item">ABOUT</a></li>
        <li><a href="#" class="navbar-wagon-item">CONTACT</a></li>
      </ul>
    </div>
  </div>
</div>
