<div class="add-space"></div>
<div class="poem-container">

  <!-- TEXT SIDE -->
  <div class="about-text">
    <h2>ABOUT ME</h2>
    <p><strong class="date">My journey through poetry.</strong></p>
    <br>

    <div class="body-and-image">

      <div class="text-half">
        <p>Having retired from the teaching profession after thirty years of instructing Middle School students in French, Mathematics and English, Jenny has found extra time to devote to her life-long passion of poetry writing.</p>

        <p>Since early childhood when she was introduced to A.A Milne’ poetry, she has always been drawn to rhyming, rhythmic verse and still gravitates towards this genre in her own writing.  A prolific poet during her primary school years, Jenny has continued to find poetry an excellent medium for recording the observations, particular moments and feelings experienced in the course of our everyday lives.</p>

        <p class="final-paragraph">Although Jenny has written poems on a diverse range of themes, the bulk of her creative energy finds an outlet in the hundreds of poems she has written through the eyes of a child.  Given that childhood is such a short and precious phase in the human life cycle, Jenny feels drawn to immortalising the ups and downs of being a child in a way that can be easily and fondly remembered.</p>
      </div>

      <div class="image-half about-header" style="background-image: url('https://res.cloudinary.com/dkft9hkkv/image/upload/v1545510748/Erlanger%20Poetry/Kiss.jpg');">
      </div>


    </div>

    <br>
    <div class="about-footer">
      <%= link_to "My poems →", poems_path, class: 'backlink'  %>
      <p class="photography"><em><strong>Photography: </strong>
      All photos on this website come courtesy of my darling husband, Peter Erlanger.</em></p>
    </div>

  </div>

</div>

<div class="add-space"></div>


