<div class="add-space"></div>
<div class="contact-container">

  <!-- TEXT SIDE -->
  <div class="contact-text-main">
    <h2>CONTACT</h2>
    <p><strong class="date">Get in touch.</strong></p>
    <br>


    <div class="text-and-form">

      <!-- BODY TEXT -->
      <div class="contact-text">
        <p>If you’d like to collaborate on a project, commission a poem, or just chat about your experiences, I’d love to hear from you.</p>
        <p class="final-paragraph">Feel free to reach out via the contact form on this page, or send me an email:
        <br><br><a href="mailto:jennyerlanger@optusnet.com.au" target="_blank">jennyerlanger@optusnet.com.au</a></p>
      </div>

      <!-- FORM -->
      <div class="contact-form">
        <form action="mailto:a.erlanger@gmail.com" method="post" enctype="text/plain">

        <div class="name-and-email">

          <div class="form-name">
            <span class="form-label">Name</span><br>
            <input class="default-form" type="text" name="name" placeholder="Puggo Claire">
          </div>

          <div class="form-email">
            <span class="form-label">E-mail Address</span><br>
            <input class="default-form" type="text" name="mail" placeholder="puggo@claire.com">
          </div>

        </div>

        <span class="form-label">Message</span><br>
        <input class="default-form" type="text" name="comment" size="50"><br><br>
        <input class="form-button" type="submit" value="Send">
        </form>
      </div>

  </div>

</div>

<div class="add-space"></div>


