<div class="banner" style="background-image: url('https://res.cloudinary.com/dkft9hkkv/image/upload/v1547061876/Erlanger%20Poetry/homepage-cover.jpg');">
  <div class="banner-content">
    <h1>Jenny Erlanger</h1>
    <p class="tagline">Australian Children's Poet</p>
  </div>
</div>


<div class="homepage-heading text-center">
  <h2>"Listen to the voice that speaks inside."</h2>
  <p><strong class="quote-author">– Shel Silverstein</strong></p>
</div>

  <div class="homepage-content">
    <div class="homepage-image" style="background-image: url('https://res.cloudinary.com/dkft9hkkv/image/upload/v1547062154/Erlanger%20Poetry/homepage-avatar.jpg');">
    </div>
    <div class="homepage-text">
      <p><strong>I've been writing poetry for as long as I can remember.</strong></p>
      <div class="text-main">
        <p>And I still have a lot of the poems I wrote from when I was a young child, like the one about my parents picking up my baby brother from the ‘baby shop’.</p>

        <p>A lot has changed since the 1950s, (I know where babies come from now, for one) but my love of poetry has never faltered.</p>

        <p>After thirty-odd years as a high school teacher, I retired to pursue the dreams of my inner child - who’s voice,  simply put, just never shut up.</p>
      </div>
  </div>
</div>


<div class="banner featured" style="background-image: linear-gradient(-225deg, rgba(60,60,60,0.9) 0%, rgba(30,30,30,0.3) 50%), url('https://res.cloudinary.com/dkft9hkkv/image/upload/v1547062261/Erlanger%20Poetry/as-featured-in.jpg');">
  <div class="featured-content">
    <h2>AS FEATURED IN:</h2>
    <div class="flexbox-horizontal">
      <span class="featured-brand"><strong style="color: white;">GIGGLES<br>& NIGGLES</strong></span>
      <span class="featured-brand"><strong style="color: white;">AUSTRALIAN<br> CHILDREN'S POETRY</strong></span>
      <span class="featured-brand"><strong style="color: white;">TOOLANGI<br> POETRY SOCITEY</strong></span>
    </div>
  </div>
</div>
