<div class="banner" style="background-image: url('https://res.cloudinary.com/dkft9hkkv/image/upload/v1545509574/Erlanger%20Poetry/cover_reduced.jpg');">
  <div class="banner-content">
    <h1>Jenny Erlanger</h1>
    <p>Poet. Author. Snapping turtle.</p>
  </div>
</div>


<h1 class="homepage-heading text-center">I'm a poet, don't you knowit</h1>

  <div class="homepage-content">
    <div class="homepage-image" style="background-image: url('https://res.cloudinary.com/dkft9hkkv/image/upload/v1545510748/Erlanger%20Poetry/Kiss.jpg');">
    </div>
    <div class="homepage-text">
      <p>The name's Big Jen. The game's writing hotshit poetry.</p>
      <p>Having retired from the teaching profession after thirty years of instructing Middle School students in French, Mathematics and English, I've now found extra time to devote to my life-long passion of poetry writing.</p>
      <p>Feel free to <a href="#" class="text-link">browse my poems</a> or <a href="#" class="text-link">HMU</a> with collab requests.</p>
  </div>
</div>


<div class="banner featured" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('https://res.cloudinary.com/dkft9hkkv/image/upload/v1545513533/Erlanger%20Poetry/leaves.jpg');">
  <div class="featured-content">
    <h2>AS FEATURED IN</h2>
    <div class="flexbox-horizontal">
      <span class="featured-brand"><strong style="color: white;">NSW SCHOOL MAGAZINE</strong></span>
      <span class="featured-brand"><strong style="color: white;">AUSTRALIAN CHILDREN'S POETRY</strong></span>
      <span class="featured-brand"><strong style="color: white;">TOOLANGI POETRY SOCITEY</strong></span>
    </div>
  </div>
</div>
