.footer {
  background: $gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 50px;
}

.footer-copyright {
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
  color: $white;
}

// .footer-links in #bootstrap-overrides

@media screen and (max-width: 860px) {

  .footer-links {
    display: none;
  }

}
