// .poem-container {
//   width: calc(100vw - 90px);
//   margin: 0 auto;
//   display: flex;
// }

.poem-container {
  width: 72vw;
  margin: 0 auto;
}

.contact-container {
  width: calc(100vw - 90px);
  margin: 0 auto;
  min-height: calc(100vh - 120px - 48px);
}

.text-and-form {
  display: flex;
}

// .header {
//   text-align: center;
//   height: calc(50vh - 60px);
//   background-size: cover !important;
//   background-position: center;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   color: $white;
//   border-radius: 3px 3px 3px 3px;
//   h1 {
//     padding-top: 18px;
//     font-size: 6rem;
//   }
// }

.header {
  height: calc(50vh - 60px);
  text-align: center;
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  border-radius: 3px 3px 3px 3px;
  h1 {
    font-size: 6rem;
  }
}

.poem-header {
  width: 50%;
  text-align: center;
  height: inherit;
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
}

// .poem-text {
//   width: calc(40% - 36px);
//   background: $white;
//   padding: 0 18px;
//   // border-left: 3px solid $teel;
//   margin-left: 36px;
//   h2 {
//     margin-top: 0
//   }
// }

.poem-text {
  background: $white;
  padding: 36px;
  border-radius: 0 0 3px 3px;
}

.about-header {
  width: calc(35% - 36px);
  text-align: center;
  height: inherit;
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
}

.about-text {
  background: $white;
  padding: 0 18px;
  h2 {
    margin-top: 0
  }
}

.contact-text-main {
  background: $white;
  padding: 0 18px;
  h2 {
    margin-top: 0
  }
}

.backlink {
  color: $teel;
  width: calc(35% - 36px);
}

.body-and-image {
  display: flex;
  justify-content: space-between;
}

.text-half {
  border-left: 3px solid $teel;
  padding-left: 18px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.final-paragraph {
  margin: 0;
}

.contact-text {
  border-left: 3px solid $teel;
  padding-left: 18px;
  width: calc(42% - 45px);
}

.contact-form {
  background: $teel;
  padding: 18px;
  color: white;
  border-radius: 3px;
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
}

.form-flex {
  width: 100%;
  display: flex;
  justify-content: center;
}

.about-footer {
  display: flex;
  justify-content: space-between;
}

.photography {
  width: calc(35% - 36px);
  font-size: 1.2rem;
}

.form-label {
  color: $white;
}

#comment-field {
  width: 100%;
  display: block;
  margin-bottom: 12px;
}

.name-and-email {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
}

.default-form {
  padding: 6px 9px;
  border-radius: 3px;
  border: none;
  &:focus {
    outline: $white;
  }
}

.form-button {
  border-radius: 30px;
  background: white;
  padding: 6px 9px;
  color: $gray;
  font-weight: bold;
  transition: ease all 0.3s;
  border: none;
  float: right;
  &:hover {
    color: rgba(51, 51, 51, 0.72);
    transform: scale(0.98, 0.98§)
  }
}

.right-margin {
  margin-right: 12px;
}

@media screen and (max-width: 940px) {

  .text-half {
    width: 100%;
  }

  .about-header {
    display: none;
  }

  .photography {
    display: none;
  }

  .text-and-form {
    display: block;
  }

  .form-flex {
    display: block;
    width: 100%;
    margin-top: 24px;
  }

  .name-and-email {
    display: block;
  }

  .contact-text {
    width: 100%;
  }

  .form-email {
    margin-top: 9px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  .homepage-heading {
    padding-left: 9px;
    padding-right: 9px;
  }

  .backlink {
    width: 100%;
  }

}
