.poem-container {
  width: calc(100vw - 90px);
  margin: 0 auto;
}

.header {
  text-align: center;
  height: calc(50vh - 60px);
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  border-radius: 3px 3px 0 0;
  h1 {
    padding-top: 18px;
    font-size: 6rem;
  }
}

.poem-text {
  background: $white;
  margin: 36px auto;
  padding-left: 18px;
  border-left: 3px solid $teel;
}
