.poem-container {
  width: 60vw;
  margin: 0 auto;
}

.header {
  text-align: center;
  height: calc(50vh - 60px);
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  border-radius: 3px 3px 0 0;
  h1 {
    font-size: 6rem;
  }
}

.poem-text {
  background: $white;
  padding: 36px;
  border-radius: 0 0 3px 3px;
}


