/* Main navbar */
.navbar-wagon {
  background: $gray;
  transition: all 0.3s ease;
  height: 60px;
  padding: 0px calc(2.5vw + 9px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-wagon-home {
  transition: all 0.3s ease;
  width: 100%;
  height: 60px;
  padding: 0px calc(2.5vw + 9px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
}

#logo {
  cursor: pointer;
  h3, strong {
    margin: 0;
    padding: 0;
    color: $white;
  }
  &:hover {
    transform: none;
  }
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  margin-left: 36px;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  color: $white;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  background: $gray;
}
.navbar-wagon-dropdown-menu li > a {
  line-height: 27px !important;
  padding: 10px 20px;
  color: $white !important;
  &:hover, &:focus {
    background-color: inherit;
  }
}

.navbar-wagon-dropdown-menu:before {
  height: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
}

.dropdown > i {
  color: $white;
}
